.about-container {
  background: url('../images/building.jpg') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.about-text {
  display: flex;
  flex-direction: column;
  margin: 10% auto;
  text-shadow: 1px 1px black;
}

.about-text span {
  text-align: justify;
}

@media only screen and (max-width: 1000px) {
  .about-container {
    height: max-content;
  }
}