footer {
  padding: 2rem 10rem;
  margin: 0 auto;
  background-color: rgb(31, 31, 31);
  color: white;
}

.contact-container{
  display: flex;
  justify-content: space-around;
}

.contact-container p {
  text-align: center;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: large;
}

.socials p {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 2rem;
    font-size: small;
  }
}