.hero-container {
  background: url('../images/hero-bg.jpg') center center/cover no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.heading {
  font-size: x-large;
  width: fit-content;
  margin: 25% 0;
}

.heading h2 {
  opacity: 0.7;
}

.heading button {
  cursor: pointer;
  text-decoration: none;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 0.5rem 3rem;
  font-size: medium;
  transition: 0.3s;
}

.heading button:hover {
  transition: 0.3s;
  background-color: white;
  color: black;
}

@media only screen and (max-width: 600px) {
  .hero-container {
    height: 100%;
  }

  .heading {
    display: flex;
    flex-direction: column;
    font-size: large;
  }

  .heading h1 {
    text-align: center;
  }

  .heading h2 {
    text-align: center;
  }

  .heading button {
    display: none;
  }
}