.programs-container {
  height: 100vh;
}

.programs-container h1 {
  text-align: center;
  padding: 5% 0;
}

.my-cards {
  gap: 3rem;
  margin-bottom: 5%;
}

.my-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.my-card h5 {
  text-align: center;
}

.my-card img {
  height: 70%;
}

.my-card a {
  text-decoration: none;
  font-size: small;
  background-color: black;
  color: white;
  padding: 0.5rem 0.7rem;
  border: 2px solid black;
  border-radius: 3px;
  transition: 0.3s;
}

.my-card a:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  transition: 0.3s;
}

@media only screen and (max-width: 1000px) {
  .programs-container {
    height: max-content;
  }

  .programs-container h1 {
    font-size: large;
  }

  .my-cards {
    display: flex;
    flex-direction: column;
  }

  .my-card {
    font-size: small;
  }

  .my-card h5 {
    font-size: medium;
  }

  .my-card img {
    display: none;
  }

  .my-card a {
    padding: 0.3rem 0.5rem;
  }
}