.programs {
  margin-top: 5rem;
}

.programs h1 {
  text-align: center;
}

.programs-container {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  gap: 1rem;
}

.program-content {
  max-width: 500px;
}

.program-content h2 {
  text-align: center;
}

.program-content img {
  max-width: 500px;
}