.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 0.5rem;
}

.register-container img {
  width: 602px;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.register-container form {
  width: 600px;
  height: 400px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.register-container form button {
  padding: 0.3rem 1rem;
  background-color: black;
  color: white;
  border: 2px solid black;
  transition: 0.3s;
}

.register-container form button:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
}