.test-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(27, 58, 120);
  height: 100vh;
}

.test-container h1 {
  color: white;
  text-align: center;
  padding: 5rem 0;
}

.card-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 2rem auto;
  max-width: 600px;
  height: 150px;
}

.card-container img {
  width: 30%;
  border-radius: 50%;
}

.card-container h3 {
  color: rgb(211, 173, 92);
  text-shadow: 1px 1px black;
}

.card-container span {
  color: white;
  text-align: justify;
}

@media only screen and (max-width: 1000px) {
  .test-container {
    height: max-content;
  }

  .test-container h1 {
    font-size: large;
    padding: 1rem;
  }

  .card-container {
    padding: 0 0.5rem;
  }

  .card-container img {
    width: 20%;
  }

  .card-container h3 {
    font-size: large;
  }

  .card-container span {
    font-size: small;
  }
}